html, body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.items {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  position: relative;
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: grab;
  color: white;
}

.item:nth-child(odd) { background: teal; }
.item:nth-child(even) { background: tomato; }